
<div class="top_Title">

    @{
        ViewData["Title"] = "Create Menus";
    }
</div>

<!--<div class = "text-white">-->
<h3>@ViewData["Title"] </h3>
<!--</div>-->

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex top_separationbutton">
      <button type="button" class="btn btn-light mx-auto position-relative">
        ADD
        <span class="btn-text">Texto encima del botón 1</span>
      </button>
      <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
        ADD
        <span class="btn-text">Texto encima del botón 2</span>
      </button>
      <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
        ADD
        <span class="btn-text">Texto encima del botón 3</span>
      </button>
      <button type="button" class="btn btn-light mx-auto ml-2 position-relative">
        ADD
        <span class="btn-text">Texto encima del botón 4</span>
      </button>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex top_separationbutton">
            <button type="button" class="btn btn-light mx-auto">ADD</button>
            <button type="button" class="btn btn-light mx-auto ml-2">ADD</button>
            <button type="button" class="btn btn-light mx-auto ml-2">ADD</button>
            <button type="button" class="btn btn-light mx-auto ml-2">ADD</button>
        </div>
    </div>
</div>