@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the RRS-Controller </h1>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Hola</a>.</p>-->
</div>

<div class="text-center">
    <img src="~/images/RRS-Controller.jpeg" alt="Mi imagen" />
</div>