html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.top_separationbutton1 {
    margin-top: 50px;
}

.top_separationbutton {
    margin-top: 90px;
}

.top_Title {
    text-align: center;
    margin-top: 40px;
}

.ml-2 {
  margin-left: 0.1rem !important;
}

.btn-light {
    border: 1px solid black;
}

.btn-text {
    position: absolute;
    top: -25px; /* ajusta la posici�n vertical */
    left: 50%; /* centra el texto horizontalmente */
    transform: translateX(-50%);
    font-size: 14px;
    color: #000;
}

